Flask==3.1.2
numpy==2.2.6
scikit-learn==1.7.2
scipy==1.15.3
faiss-cpu==1.12.0
sentence-transformers==5.1.0
PyPDF2==3.0.1
python-docx==1.2.0
lxml==6.0.1
requests==2.32.5
tqdm==4.67.1
rich==14.1.0
openai
gunicorn==21.2.0
spacy
dotenv